<div class="container-fluid" style="background-color: rgb(54, 54, 54);">
	<nav class="navbar navbar-default">
	  <div class="container-fluid" style="background-color: rgb(56, 56, 56);">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">
            <h2>Conversor de moedas</h2>&nbsp;
	        <span class="glyphicon glyphicon-usd"></span>&nbsp;
	        <span class="glyphicon glyphicon-arrow-right"></span>&nbsp;
            <span class="glyphicon glyphicon-euro"></span>
	      </a>
	    </div>
	  </div>
	</nav>
    <app-conversor></app-conversor>
</div>